[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
tqdm = "*"

[dev-packages]
mypy = "*"

[requires]
python_version = "3.9"

[scripts]
start = "python index.py"
test = "sh ./bin/test.sh"
