[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
tqdm = "*"

[dev-packages]
mypy = "*"
flake8 = "*"

[requires]
python_version = "3.9"

[scripts]
test = "sh ./test/test.sh"
generate = "python index.py -g"
train = "python index.py -t"
