[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
librosa = "*"
numba = "==0.53.1"
numpy = "*"
opencv-python = "*"
pydantic = "*"
soundfile = "*"
torch = "*"
torchaudio = "*"
tqdm = "*"

[dev-packages]
flake8 = "*"
flake8-commas = "*"
graphs = {git = "https://github.com/lewiswolf/graphs.git"}
kac_dataset = {editable = true, path = "."}
mypy = "*"

[requires]
python_version = "3.9"

[scripts]
start = "python example/index.py"
test = "sh ./test/test.sh"
